canvas {
    /*TODO border: 1px solid #d3d3d3;*/
    background-image: url("../images/board.png");
    background-size: 640px 520px; /* bWidth * tSize, bHeight * tSize */
}

#game-options {
	width: 640px;
}

/* TODO make this prettier */
button {
	border: 1px solid #000000; /* TODO make corners rounded */
	/* center the button */
	margin: 0 auto;
	display: block;
}