/* Color Pallette 
Border & Font: #2789BA 
Button Background: #34AEEB
Button Hover: #75D1FF
Dialog Background: #A7E0FC */

body {
	text-align: center;
	margin: 0px;
	font-family: 'Courier';
	font-size: 14px;
}

canvas {
    background-image: url("../images/board-grid.png");
    background-size: 640px 520px; /* bWidth * tSize, bHeight * tSize */
    margin-top: 5px;
    margin-bottom: 10px;
}

#control-panel {
	display: inline-block;
	width: 640px;
}

.container {
	float: left;
	display: table;
	height: 120px;
}

.container:first-child {
	width: 70px;
}

.container:nth-child(2) {
	width: 110px;
}

.group {
	display: table-cell;
	vertical-align: middle;
}

.game-state {
	display: block;
}

.container button:not(:first-child) {
	margin-top: 20px;
}

button {
	width: 70px;
	font-family: 'Courier';
	font-size: 16px;

	background-color: #34AEEB;
	border: 2px solid #2789BA;
	border-radius: 4px;
}

button:hover:enabled {
	background-color: #75D1FF;
}

.container p, .container a {
	margin: 0px;
	font-size: 16px;
}

.number-group:not(:first-child) {
	margin-top: 25px;
}

.number-group p:first-child {
	color: #2789BA;
	font-weight: bold;
	margin-bottom: 5px;
}

#dialog-box {
	width: 456px; /* canvas_width - (.container_width(first) + .container_width(second)) - (2 * .large_border) */
	height: 116px; /* 120px - (2 * .large_border) */
	background-color: #A7E0FC;
	border: 2px solid #2789BA;
	border-radius: 4px;
	text-align: left;
	overflow: scroll;
}

#dialog-box p, #dialog-box a {
	margin-top: 3px;
	margin-bottom: 3px;
	margin-left: 4px;
	margin-right: 4px;
	display: block;
	word-wrap: break-word;
}